body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('https://gifdb.com/images/high/color-pastel-rainbow-lines-xb4joddynqs5zt6u.webp') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
}

.topnav {
  background-color: lightgray;
  overflow: hidden;
  padding: 15px;
  text-align: center;
}

.topnav a {
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.movie-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

h1, h2 {
  text-align: center;
}

#section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color:  black;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  
}

.card {
  background: rgba(211, 211, 211, 0.8);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
  width: 300px;
  text-align: center;
  color: black;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

input[type="text"] {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

a {
  color: #1abc9c;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}